* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    border: border-box;
}

/*           Navigation Bar                */
 
/* logo */
.navbar {
    z-index: 1000;
    height: 130px;
    border-radius: 4px 4px 81px 81px;
    background-color: #0f1111;            /* background color*/
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    /* backdrop-filter: blur(10px); */

}

.panel a {
    font-family: 'Candara';
    padding: 5px 30px;
}

.panel a:hover {
    background-color: white;
    color: black;
}

.logo {
    height: 200px;
    width: 300px;
    display: flex;
    background-size: cover;
}

/* search */
.search{
    display: flex;
    justify-content: center;
    width: 40%;
    height: 30%;    
    border-radius: 4px;
}

.search-select
{
    background-color: #f9f9f9dd;
    text-align: center;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
    border: none;
}

.search-bar{
    /* border: none; */
    /* margin: 0px 10px 9px 0px; */
    padding: 0px 15px;
    /* margin: 30px 34px 65px 0px;  */
    width: 410px;
    font-size: 1rem;
    border: none;
    /* border-radius: 70px; */
}

.search-button{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #f08804;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
    border: none;
    cursor: pointer;

}

.search:hover{
    border: 2px solid orange;

}


/* Login and Registration */

.icons {
    display: flex;
    gap: 15px;
}

.icons i {
    color: rgba(255, 255, 255, 0.5);
}

.icons i a {
    text-decoration: none;
    font-size: 0.8rem;
    color: whitesmoke;
}

/* all Menus */

.panel {
    z-index: 1000;
    position: fixed;
    left: 35px;
    right: 20px;
    width: 95%;
    margin-top: 130px;
    height: 40px;
    background-color: #222f3d;              /* background color*/
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 35px;

}

.home-icon a{
    z-index: 1000;
    font-size: 20px;
    color: white;
}


p a {
    text-decoration: none;
    color: white;
}

.menus p {
    display: inline;
    margin-left: 15px;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}



/* Banner */

.herosection {

    background-color: #17c5c5;
    background-size: cover;
    width: 100%;
    padding-top: 7%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.heromsg {
    background-color: rgb(49, 186, 250);
    color: black;
    height: 30px;
    display: flex;
    align-items: center;
    text-shadow: 2px 2px rgb(255, 166, 1);
    justify-content: center;
    font-size: 1.3rem;
    font-family: 'Calibri';
    padding: 30px;
    font-weight: 600;
}

.heromsg a {
    color: #1a575f;
    text-decoration-thickness: 600px;
}


/* Product in Line Of Strate  */
/* ------------------------------------------------ */


.shopsection{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 176, 201);           /* background color*/
    height: 500px;
}
.pro p{
    padding-top:10px;
    padding-left: 25px;
    font-size: 20px;
    background-color: rgb(255, 176, 201);           /* background color*/
    height: 20px;
    
}

.box{
    margin-top: 15px;
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin: 15px 6px 0px 4px;
}

.boximg{
    height: 250px;
    border-radius: 8px;
    background-size:contain;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-repeat: no-repeat;
}


.boxcontent{
    margin-left: 1rem;
    margin-right: 1rem;

}

.detail{
    font-size: 14px;
    background-color: whitesmoke;

}

.boxcontent p{
    margin-top: 2px;
    color:  #007180;
    font-size: large;
    display: flex;
    justify-content: left;
    padding: 2px;
}

.boxcontent  a{
    display:flex;
    font-size: larger;
    text-decoration: none;
    color: black;
    border: 1.5px solid transparent;
    justify-content: space-around;
    padding: 12px;


}
.boxcontent  a:hover{
    border: 1px solid black;
    border-radius: 5%;
    font-size: 15px;
    color:white;
    background-color:blueviolet;

}


/* Products */
.shopsection1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(255, 176, 201);       /* background color*/
    height: 1000px;
}




.pro1 p {
    
    padding-top: 10px;
    padding-left: 25px;
    font-size: 20px;
    background-color: rgb(255, 176, 201);       /* background color*/
    height: 40px;

}


.box12 {
    margin-top: 15px;
    /* border: 2px solid black; */
    height: 430px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
}

.boximg1 {
    height: 250px;
    border-radius: 8px;
    background-size: contain;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-repeat: no-repeat;
}


.boxcontent1 {
    margin-left: 1rem;
    margin-right: 1rem;

}

.detail1 {
    font-size: 14px;
    background-color: whitesmoke;

}

.boxcontent1 p {
    margin-top: 2px;
    color: #007180;
    font-size: large;
    display: flex;
    justify-content: left;
    padding: 2px;
}

.boxcontent1 a {
    display: flex;
    font-size: larger;
    text-decoration: none;
    color: black;
    border: 1.5px solid transparent;
    justify-content: space-around;
    padding: 12px;


}

.boxcontent1 a:hover {
    border: 1.5px solid black;
    border-radius: 5%;
    font-size: x-large;
    color: white;
    background-color: #17c5c5;

}

.boxcontent1a {
    margin-left: 1rem;
    margin-right: 1rem;

}
.boxcontent1a p {
    margin-top: 2px;
    color: #007180;
    font-size: large;
    display: flex;
    justify-content: left;
    padding: 1px;
}
.boxcontent1a a {
    display: flex;
    font-size: larger;
    text-decoration: none;
    color: black;
    border: 1.5px solid transparent;
    justify-content: space-around;
    padding: 15px 40px;
    z-index: 100;

}
.box12a {
    margin-top: 15px;
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
}

.boxcontent1a a:hover {
    border: 1.5px solid black;
    border-radius: 12%;
    font-size: large;
    color: white;
    background-color: #17c5c5;
}

.boximg1a {
    height: 250px;
    border-radius: 8px;
    background-size: contain;
    background-repeat: no-repeat;
}

/* footer */

/* .footer {
    margin-top: 15px;
} */

.container{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

.footer-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.foottop a {
    background-color: #37475a;      /* background color*/
    color: white;
    text-decoration: none;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.footer .footer-top{
    padding: 60px 0 30px 0;
    background-color: #222f3d;    /*   background color */
    color: white;
}
.footer .footer-top .footer-contact{
    margin-bottom: 30px;
}
.footer .footer-top .footer-contact h3{
    color: #ffc800;
}
.footer .footer-top .footer-contact h4{
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}
.footer-contact .footer-top .footer-contact p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: white;
}
.footer .footer-top h4{
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}
.footer .footer-top .footer-links{
    margin-bottom: 30px;
    margin-top: 10px;
}
.footer .footer-top .footer-links h4{
    color: #ffc800;
}
.footer .footer-top .footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer .footer-top .footer-links ul li{
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.footer .footer-top .footer-links ul li a{
    text-decoration: none;
    color: white;
    display: inline-block;
    line-height: 1;
    font-weight: bold;
    transition: 0.5s ease;
}
.footer .footer-top .footer-links ul li a:hover{
    color: #ffc800;
}
.footer .footer-top .socail-links a{
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    background-color: #373737;
    color: white;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    transition: 0.5s ease;
}
.footer .footer-top .socail-links a:hover{
    background-color: #ffc800;
    color: white;
}
.footer .copyright{
    text-align: center;
    float: left;
}
.footer .credits{
    float: right;
    text-align: center;
    font-size: 13px;
}
.footer .credits a{
    
    color: #114b48;
}

.footer .py-4{
    background-color: grey;      /*   background color */
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footpanel3 {
    background-color: #222f3d;      /* background color*/
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
}

.footer{
    background-color: gray;
}

.logobot {
    background-image: url("images/logop.png");
    background-size: cover;
    height: 150px;
    width: 200px;

}

.devansh {
    color: white;
}


/* arrow */
html{
    scroll-behavior: smooth;
}
.arrow{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;

}




/* Login page  */
/* login */

.login-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    margin-bottom: 5px;
    padding-top: 50px;
}

#login{
    
    width: 65%;
    height: 70vh;
    background-color: rgb(67 0 86);
    border-radius: 10px;
    box-shadow: rgba(17,12, 46, 0.15) 0px 48px 100px 0px;
}
#side1 h3{
    color: #ffc800;
    font-weight: bold;
    margin-top: 200px;
}
#side2{
    background-color: white;
    height: 70vh;
    border-radius: 10px;
}
#side2 h3{
    color: #ffc800;
    font-weight: bold;
    text-shadow: 0px 1px 1px black;
}
.input2 input{
    margin-top: 60px;
    width: 300px;
    border: none;
    border-bottom: 2px solid #ffc800;
}
.input2 input ::placeholder{
    font-weight: bold;
}
#btnlogin{
    padding-top: 60px;
}
#btnlogin a{
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
    background-color: #ffc800;
    color: white;
    font-weight: bold;
    border: none;
    text-shadow: 0px 0px 1px black;
}
#side2 p{
    margin-top: 10px;
}
@media screen and (max-width:991px){
    .input2 input{
        width: 250px;
    }
}
@media screen and (max-width:765px){
    .input2 input{
        width: 260px;
    }
    #side2{
        height: 60vh;
    }
}

/* registar 2 */

.up-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid #333;
  }
  
  .title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #00bfff;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
  }
  

  
  .title::before,
  .title::after {
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #00bfff;
  }
  
  .signin {
    font-size: 14.5px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .signin a {
    color: #00bfff;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 25px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 12.5px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,
  .form label .input:valid + span {
    color: #00bfff;
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .input {
    font-size: medium;
  }
  
  .submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    transform: .3s ease;
    background-color: #00bfff;

  }
  
  .submit:hover {
    background-color: #00bfff96;
  }
  
  /* @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  } */


